<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VTTP mini project</h1>
    <!-- <a [routerLink]="['/home']" >Home</a>
    &nbsp;
    <a [routerLink]="['/artists']" >Search Artists</a>
    &nbsp;
    <a [routerLink]="['/albums']">Search Albums</a>
    &nbsp;
    <a [routerLink]="['/tracks']">Search Tracks</a>
    &nbsp;
    
    <a [routerLink]="['/playlist']">Playlist</a>
    &nbsp; -->
    <!-- <button type="button" [routerLink]="['/login']" (click)="isDisabled()" [hidden]="disabled">SpotifyLogin </button>
    <button type="button" [routerLink]="['/login']" (click)="logout()" [hidden]="enabled">logout </button> -->

<!-- here I will later change the login page and remove the navigation tap to the respective components so that user cant navigate before login -->

    <router-outlet></router-outlet>

</body>
</html>

