<!-- <a [routerLink]="['/user']" >Profile</a>
&nbsp;
<a [routerLink]="['/artists']" >Search Artists</a>
&nbsp;
<a [routerLink]="['/albums']">Search Albums</a>
&nbsp;
<a [routerLink]="['/favorite']">Favorite</a>
&nbsp; -->


<button type="button" [routerLink]="['/']">Logout</button>

<div>
  <h1>WELCOME TO MY APP!</h1>
  <button type="button" [routerLink]="['/user']">START</button>
</div>
<!-- <div>
  <button type="button" (click)="getUserProfile()">User Profile</button>
  <div *ngFor="let users of user">
    <h1>{{users.display_name}}</h1>
      <p>Name: {{ users.display_name }}</p>
      <a href="{{ users.external_urls.spotify }}">Go to my Spotify profile:</a>
      <p>Followers: {{ users.followers.total }}</p>
      <p>ID: {{ users.id }}</p>
      <a href="{{ users.images[0].url }}">Download Image </a>
      <img src="{{ users.images[0].url }}" alt="{{ users.images[0].url }}" width="100vw">
  </div>

</div> -->



   
<!-- 
<div>
    <table>
        <tr>
          <td>User ID:</td>
          <td>
            <input type="text" size="30" value="{{user.id}}" formControlName="id">

          </td>
        </tr>
        <tr>
          <td>User Name:</td>
          <td>
            <input type="text" size="30" value="{{user.display_name}}" formControlName="display_name" >
          </td>
        </tr>
        <tr>
            <td>Followers:</td>
            <td>
              <input type="text" size="30" value="{{user.followers.total}}" formControlName="followers">
  
            </td>
          </tr>
          <tr>
            <td>Image Url:</td>
            <td>
              <input type="text" size="30" value="{{user.images[0].url}}" formControlName="images">
  
            </td>
          </tr>
          <tr>
            <td>External Url:</td>
            <td>
              <input type="text" size="30" value="{{user.external_urls.spotify}}" formControlName="external_urls">
  
            </td>
          </tr>
        <tr>
          <td></td>
          <td>
            <button type="submit">postUserInfo()</button>
          </td>
        </tr>
      </table>
</div> -->
   
  
  <!-- </form> -->


